/* CSS Variables */
:root {
    /* Shades of TLS Green (Lightest to Darkest) */
    --green-0: #F5F8F3;
    --green-1: #D8E8CA;
    --green-2: #7BA877;
    --green-3: #325932;
    --green-4: #1A321D;

    /* Drop Shadow */
    --drop-shadow: 0px 5px 25px rgba(95, 152, 94, 0.1);
}

/* Webpage Body */
body {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--green-0);
}

/* Temporary Styles */
/* section {
    border: 1px dashed black;
} */

/* Header */



/* Common Styles Everywhere */
h1, h2, h3, h4, h5, h6, p {
    margin: 0; /* Reset margin for headings and paragraphs */
}

/* Common Styles for Sections */
section {
    background-color: white;
    box-shadow: var(--drop-shadow);

    border-radius: 0.5rem;
    overflow: hidden; /* So border-radius applies to header */
}

.position-label {
    display: block;
    border-radius: .2rem;
    width: fit-content;
    padding: 0 .4rem 0;
    font-family: 'Lexend';
    font-weight: bold;
    font-size: .8em;
    color: var(--green-3);
    background-color: var(--green-1);
    margin-bottom: 0.75em;
}

.section-header, .section-body {
    padding: 1rem;
}

.section-header {
    /* Flex Styles */
    display: flex;
    align-items: center;

    background-color: var(--green-1);
}

.section-header > img.section-header-icon {
    margin-right: 1.5rem;
    height: 2.5rem;
}

.section-header > h1.section-header-text {
    font-family: 'Lexend';
    font-weight: 600; /* Semibold */
    font-size: 1.25em;
    text-transform: uppercase;
    color: var(--green-3);
}


/* Vox Populi */

#vp-section-body {
    padding: 1rem 0.3rem;
}

.vp-wrapper {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.vp-photo-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 1rem;
    border-radius: 0.4rem;
    overflow: hidden;
}

.vp-photo-wrapper:hover .vp-photo-overlay {
    opacity: 1;
}

.vp-photo-overlay {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 89, 50, 0.79);
    width: 100%;
    height: 100%;
    white-space: normal;
    color: white;
    opacity: 0;
    transition: 0.25s;
}

.vp-photo-overlay .vp-answer {
    font-size: 1.5em;
    font-family: 'Fira Sans Condensed';
    font-weight: 600;
}

.vp-photo-overlay .material-icons {
    font-size: 2.25em;
}

.vp-photo-overlay .vp-name {
    font-weight: bold;
}

.vp-photo {
    height: 25rem;
}

.vp-button-wrapper button {
    font-size: 2em;
    color: var(--green-3);
    width: fit-content;
    background: none;
    border: none;
}

/* Hide buttons in mobile */
@media (max-width: 767px) {
    .vp-button-wrapper {
        display: none !important;
    }
  }



/* Head-to-Head */



/* Fast Talk: Yes or No */

#issues-dropdown {
    margin: 0 auto 1rem;
    width: fit-content;
    color: var(--green-3);
    border: 1px solid var(--green-3);
    border-radius: 10rem;
    font-family: 'Fira Sans Extra Condensed';
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.ft-legend {
    display: flex;
    align-items: center;
    margin: 0 auto 1.5rem;
    width: fit-content;
    text-transform: uppercase;
    color: var(--green-3);
    font-family: 'Fira Sans Extra Condensed';
}

.ft-legend-label {
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.ft-legend-item > img {
    margin-right: 5em;
}

.ft-cand-info p {
    font-size: 1em;
    font-family: 'Fira Sans Extra Condensed';
    text-overflow: ellipsis;
    overflow: hidden;
}

.ft-cand-name {
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.ft-cand-portrait {
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 100%;
    border: 0.25rem solid gray;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.ft-cand-yes {
    border-color: #46AC40;
    box-shadow: 0px 3px 10px rgba(46, 183, 84, 0.4);
}

.ft-cand-no {
    border-color: #DB2424;
    box-shadow: 0px 3px 10px rgba(183, 46, 46, 0.4);
}

.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-10 12:4:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
 @-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  


/* Fast Talk: 0.0 to 4.0 */
.ft-rate {
    width: 100%;
    height: 100%;
}


/* Features */



/* Footer */


