/* CSS Variables */
:root {
    /* Shades of TLS Green (Lightest to Darkest) */
    --green-0: #F5F8F3;
    --green-1: #D8E8CA;
    --green-2: #7BA877;
    --green-3: #325932;
    --green-4: #1A321D;

    /* Drop Shadow */
    --drop-shadow: 0px 5px 25px rgba(95, 152, 94, 0.1);
}

/* Webpage Body */
body {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--green-0);
}

/* Temporary Styles */
/* section {
    border: 1px dashed black;
} */

/* Header */



/* Common Styles Everywhere */
h1, h2, h3, h4, h5, h6, p {
    margin: 0; /* Reset margin for headings and paragraphs */
}

/* Common Styles for Sections */
section {
    background-color: white;
    box-shadow: var(--drop-shadow);

    border-radius: 0.5rem;
    overflow: hidden; /* So border-radius applies to header */
}

.position-label {
    display: block;
    border-radius: .2rem;
    width: fit-content;
    padding: 0 .4rem 0;
    font-family: 'Lexend';
    font-weight: bold;
    font-size: .8em;
    color: var(--green-3);
    background-color: var(--green-1);
    margin-bottom: 0.75em;
}

.section-header, .section-body {
    padding: 1rem;
}

.section-header {
    /* Flex Styles */
    display: flex;
    align-items: center;

    background-color: var(--green-1);
}

.section-header > img.section-header-icon {
    margin-right: 1.5rem;
    height: 2.5rem;
}

.section-header > h1.section-header-text {
    font-family: 'Lexend';
    font-weight: 600; /* Semibold */
    font-size: 1.25em;
    text-transform: uppercase;
    color: var(--green-3);
}


/* Vox Populi */



/* Head-to-Head */



/* Fast Talk: Yes or No */

.ft-cand-info p {
    font-size: 1em;
    font-family: 'Fira Sans Extra Condensed';
    text-overflow: ellipsis;
    overflow: hidden;
}

.ft-cand-name {
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.ft-cand-portrait {
    width: 1.85rem;
    height: 1.85rem;
    background-color: black;
    border-radius: 100%;
}



/* Fast Talk: 0.0 to 4.0 */



/* Features */



/* Footer */
.footer {
    background-color: #335932;
    box-shadow: inset 0px 10px 32px rgba(98, 162, 96, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 27.375rem;
    max-width: 100%;
    margin-top: 1.875em;
}

.footer div {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.footer .assets {
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.footer .assets img {
    margin: 0.5rem;
    object-fit: contain;
}

.footer .assets .logo {
    max-height: 5.375em;
    width: 5.6875em;
}

.footer .assets .img {
    max-height: 8.875em;
    width: 8.875em;
}

.footer .text {
    justify-content: center;
    align-items: flex-start;
    width: 43.375em;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.footer .text p {
    text-align: justify;
    color: white;
}

.footer .text .about {
    font-size: 1.125em;
    line-height: 1.375em;
    padding-bottom: 2em;
}

.footer .text .copyright {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 1em;
}

.footer .text .credit {
    text-align: left;
    color: #D8E8CB;
    font-size: 0.9375em;
    line-height: 1.125em;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer div {
        padding: 0;
    }

    .footer .assets img {
        max-width: 100%;
    }

    .footer .text {
        align-items: center;
        max-width: 90%;
    }

    .footer .text p, .footer .text .credit {
        text-align: center;
    }
}