/* CSS Variables */
:root {
    /* Shades of TLS Green (Lightest to Darkest) */
    --green-0: #F5F8F3;
    --green-1: #D8E8CA;
    --green-2: #7BA877;
    --green-3: #325932;
    --green-4: #1A321D;

    /* Drop Shadow */
    --drop-shadow: 0px 5px 25px rgba(95, 152, 94, 0.1);
}

/* Webpage Body */
body {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--green-0);
}

/* Temporary Styles */
/* section {
    border: 1px dashed black;
} */

/* Navbar */
nav {
    background: #335934;
}

nav > a.nav-link {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Fira Sans' sans-serif;
    font-weight: 500;
    font-size: 16;
    padding: 0.75em;
}

.navbar li {
    margin-left: 1em;
    margin-right: 1em;
}

/* Header */
#header {
    min-height: 39em;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

#header #bg {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 30.625em;
}

#container {
    max-height: 30.625em;
}

#container #banner {
    max-height: 38.625em;
    position: relative;
    left: 23em;
}

#container #content {
    position: absolute;
    font-family: 'Fira Sans Condensed';
    color: #335932;
    top: 3em;
    left: 0;
    padding-left: 3.6875em;
    padding-top: 4em;
}

#content #logo {
    max-width: 8.5rem;
    padding-bottom: 2.5em;
}

#content h1 {
    font-family: 'MADE Outer Sans';
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 1em;
}

#content h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.0625rem;
    line-height: 2.5em;
}

#content p {
    font-size: 0.9375em;
    line-height: 2em;
}

@media screen and (max-width: 800px){
    #header{
        min-height: 10em;
        max-height: max-content;
        margin-bottom: 5%;
    }

    #header #bg {
        display: none;
    }

    #container {
        min-height: min-content;
        max-height: max-content;
        padding-bottom: 5%;
        background-color: white;
    }
    
    #container #banner {
        left: -10%;
        max-width: 120%;
        object-fit: cover;
    }
    
    #container #content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2%;
        min-height: min-content;
        width: 100%;
        top: 0;
    }

    #content #logo {
        width: 20vw;
        padding: 0;
        margin-left: 1em;
        margin-right: 0.5em;
    }

    #content #text {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        max-width: 100vw;
        margin-left: 0.5em;
        margin-right: 1em;
    }
    
    #content h1, #content h2, #content p {
        line-height: normal;
    }

    #content h1 {
        font-size: 8vw;
        margin-bottom: 2%;
    }
    
    #content h2 {
        font-size: 5vw;
        margin-bottom: 8%;
    }
    
    #content p {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1441px){
    #container {
        width: 90em;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    #container #content {
        width: fit-content;
        position: relative;
        top: -38.5em;
    }
}

/* Common Styles Everywhere */
h1, h2, h3, h4, h5, h6, p {
    margin: 0; /* Reset margin for headings and paragraphs */
}

/* Common Styles for Sections */
section {
    background-color: white;
    box-shadow: var(--drop-shadow);

    border-radius: 0.5rem;
    overflow: hidden; /* So border-radius applies to header */
}

.position-label {
    display: block;
    border-radius: .2rem;
    width: fit-content;
    padding: 0 .4rem 0;
    font-family: 'Lexend';
    font-weight: bold;
    font-size: .8em;
    color: var(--green-3);
    background-color: var(--green-1);
    margin-bottom: 0.75em;
}

.section-header, .section-body {
    padding: 1rem;
}

.section-header {
    /* Flex Styles */
    display: flex;
    align-items: center;

    background-color: var(--green-1);
}

.section-header > img.section-header-icon {
    margin-right: 1.5rem;
    height: 2.5rem;
}

.section-header > h1.section-header-text {
    font-family: 'Lexend';
    font-weight: 600; /* Semibold */
    font-size: 1.25em;
    text-transform: uppercase;
    color: var(--green-3);
}


/* Vox Populi */

#vp-section-body {
    padding: 1rem 0.3rem;
}

.vp-master-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.vp-wrapper {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.vp-wrapper-overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}

@media (max-width: 375px) {
    .vp-wrapper-overlay {
        visibility: visible;
    }
  }

.vp-photo-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 0 0.2rem 0;
    border-radius: 0.4rem;
    overflow: hidden;
}

.vp-photo-wrapper:hover .vp-photo-overlay {
    opacity: 1;
}

.vp-photo-overlay {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 89, 50, 0.79);
    width: 100%;
    height: 100%;
    white-space: normal;
    color: white;
    opacity: 0;
    transition: 0.25s;
}

.vp-photo-overlay .vp-answer {
    font-size: 1.5em;
    font-family: 'Fira Sans Condensed';
    font-weight: 600;
    line-height: 1.15;
}

.vp-answer:has(> .vp-long-text) {
    font-size: .95em !important;
    font-family: 'Fira Sans Condensed';
    font-weight: 600;
}

.vp-long-text {
    margin-bottom: .5rem;
    display: block;
}

.vp-photo-overlay .material-icons {
    font-size: 2.25em;
}

.vp-photo-overlay .vp-name {
    font-weight: bold;
}

.vp-photo {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}

.vp-button-wrapper button {
    font-size: 2em;
    color: var(--green-3);
    width: fit-content;
    background: none;
    border: none;
}

/* Hide buttons in mobile */
@media (max-width: 767px) {
    .vp-button-wrapper {
        display: none !important;
    }
  }

.vp-question {
    text-align: center;
}

.vp-question h1 {
    margin-top: 1rem;
    font-family: 'Fira Sans Condensed';
    font-weight: 600;
    font-size: 1.5em;
    color: var(--green-3);
}

.vp-question p {
    color: var(--green-2);
    font-size: 0.7em;
}


/* Head-to-Head */



/* Fast Talk: Yes or No */

#issues-dropdown {
    margin: 0 auto 1rem;
    width: fit-content;
    color: var(--green-3);
    border: 1px solid var(--green-3);
    border-radius: 10rem;
    font-family: 'Fira Sans Extra Condensed';
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.ft-legend {
    display: flex;
    align-items: center;
    margin: 0 auto 1.5rem;
    width: fit-content;
    text-transform: uppercase;
    color: var(--green-3);
    font-family: 'Fira Sans Extra Condensed';
}

.ft-legend-label {
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.ft-legend-item > img {
    margin-right: 5em;
}

.ft-cand-info p {
    font-size: 1em;
    font-family: 'Fira Sans Extra Condensed';
    text-overflow: ellipsis;
    overflow: hidden;
}

.ft-cand-name {
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.ft-cand-portrait {
    width: 2.75rem;
    height: 2.75rem;
    background-color: white;
    border-radius: 100%;
    border: 0.25rem solid gray;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    object-position: center 0.1rem;
}

.ft-cand-yes {
    border-color: #46AC40;
    box-shadow: 0px 3px 10px rgba(46, 183, 84, 0.4);
}

.ft-cand-no {
    border-color: #DB2424;
    box-shadow: 0px 3px 10px rgba(183, 46, 46, 0.4);
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-12 12:27:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  


/* Fast Talk: 0.0 to 4.0 */
.ft-rate {
    width: 100%;
    height: 100%;
}


/* Features */



/* Footer */
.footer {
    background-color: #335932;
    box-shadow: inset 0px 10px 32px rgba(98, 162, 96, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* min-height: 27.375rem; */
    max-width: 100%;
    margin-top: 1.875em;
}

.footer div {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.footer .assets {
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.footer .assets img {
    margin: 0.5rem;
    object-fit: contain;
}

.footer .assets .logo {
    max-height: 5.375em;
    width: 5.6875em;
}

.footer .assets .img {
    max-height: 8.875em;
    width: 8.875em;
}

.footer .text {
    justify-content: center;
    align-items: flex-start;
    width: 43.375em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-size: 0.9em;
}

.footer .text p {
    text-align: justify;
    color: white;
}

.footer .text .about {
    line-height: 1.375em;
    padding-bottom: 2em;
}

.footer .text .copyright {
    font-weight: bold;
    padding-bottom: 1em;
}

.footer .text .credit {
    text-align: left;
    color: #D8E8CB;
    font-size: 0.75em;
    line-height: 1.125em;
    width: fit-content;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer div {
        padding: 0;
    }

    .footer .assets img {
        max-width: 100%;
    }

    .footer .text {
        align-items: center;
        max-width: 90%;
        text-align: center;
    }
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
}

/* HTH and Features Salo */

.hth-pills {
    margin-bottom: 1rem;
}

.hth-pills .nav-link {
    font-family: 'Fira Sans Condensed';
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    color: var(--green-3);
    border: .75px solid var(--green-3);
}

.hth-pills .nav-link.active {
    background-color: var(--green-3);
}

.hth-article-card {
    display: flex;
    padding: 1rem 0;
}

.hth-article-card:not(:last-child) {
    border-bottom: 0.025rem solid #B4BAC6;
}

.hth-visual-wrapper {
    width: 200px;
    margin-right: 1rem;
}

.hth-visual-wrapper > .hth-visual {
    width: 100%;
    border-radius: .25rem;
    border: 0.5px solid var(--green-1);
}

.hth-article-info {
    width: calc(100% - 150px);
}

.hth-article-info > a {
    text-decoration: none;
    color: inherit;
}

.hth-article-info > a:hover {
    text-decoration: underline;
    color: var(--green-3);
}

.hth-article-info > a > h2 {
    /* Title */
    font-size: 1.25em;
    font-family: 'Fira Sans Condensed';
    margin-bottom: .5rem;
}

.hth-article-info > p {
    /* Author */
    font-size: 0.75em;
}

